# Flask Configuration
SECRET_KEY=dev
FLASK_ENV=development

# Database
DATABASE_URL=sqlite:///fvm.db
# For production: postgresql://user:password@localhost/fvm

# Admin Access (V1 - Simple Password Gate)
ADMIN_PASSWORD=5199152396aA!

# Email (SMTP2GO)
MAIL_SERVER=mail.smtp2go.com
MAIL_PORT=2525
MAIL_USERNAME=futurevisionmachines.com
MAIL_PASSWORD=icMsHW8b2hU7p2PT
MAIL_DEFAULT_SENDER=info@futurevisionmachines.com
